@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap");

body {
  margin: 0;
  padding: 0;
  background: #111;
  height: 100vh;
  display: grid;
  place-content: center;
}
div {
  color: rgb(255, 255, 255, 0.8);
  font-size: 15rem;
  letter-spacing: 3rem;
  font-family: "Rajdhani", sans-serif;
  text-shadow: 0px 0px 20px cyan, 0px 0px 40px cyan, 0px 0px 60px cyan,
    0px 0px 80px cyan, 0px 0px 100px cyan;
}
